services:
  api:
    container_name: api
    build:
      context: ./api
    ports:
      - "5000:5000"
    volumes:
      - ./api:/app
      - /app/node_modules
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=${DB_USER:-postgres}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME:-mydb}
    networks:
      - mynetwork
    restart: unless-stopped
    depends_on:
      - postgres

  postgres:
    container_name: postgres
    image: postgres:16-alpine
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_USER=${DB_USER:-postgres}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME:-mydb}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - mynetwork
    restart: unless-stopped

  client:
    container_name: cliente
    build: 
      context: ./cliente
      dockerfile: dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./cliente:/app-cliente
      - /app-cliente/node_modules
    networks:
      - mynetwork
    restart: unless-stopped


volumes:
  postgres_data:
  prometheus_data:
  grafana_data:

networks:
  mynetwork:
    driver: bridge